<!--<ion-header>-->
  <!--<ion-toolbar>-->
    <!--<ion-title>Home</ion-title>-->
  <!--</ion-toolbar>-->
<!--</ion-header>-->

<ion-content id="check-it-up" padding>
  <div id="register">
    <div *ngIf="auth.user | async; then authenticated else guest"></div>
  </div>
</ion-content>


<ng-template #authenticated class="check-it">
  <div *ngIf="auth.user | async as user">
    <h3>USER {{ user.displayName }}</h3>
    <img [src]="user.photoURL">
    <ion-button (click)="auth.logOut()">Log Out</ion-button>
  </div>
</ng-template>

<ng-template #guest class="check-it">
  <div id="welcome-page" class="mat-typography">
    <div class="logo-container">
    </div>
    <div *ngIf="showRegistration && !showResetPassword" id="registration">
      <h2>Login or Create free account</h2>
      <mat-card class="login-cart">
        <mat-card-content>
          <form (ngSubmit)="auth.registerUser(auth.authManually.email, auth.authManually.password)">
            <mat-form-field class="example-full-width">
              <mat-icon matPrefix>email</mat-icon>
              <input matInput type="email" placeholder="Enter your email" label="email" [formControl]="email" [(ngModel)]="auth.authManually.email" name="email">
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
            <mat-icon matPrefix>lock</mat-icon>
            <input  matInput type="password" placeholder="Password" [formControl]="password" [(ngModel)]="auth.authManually.password" name="password">
              <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
            </mat-form-field>
            <button mat-button type="submit">Register</button>
          </form>
          <div class="forget-password"><h3 (click)="showRegistration = !showRegistration">Login <i class="fas fa-sign-in-alt"></i></h3></div>
          </mat-card-content>
      </mat-card>
    </div>
    <div *ngIf="!showRegistration && !showResetPassword" id="signIn">
      <h2>Login or Create free account</h2>
      <mat-card class="login-cart">
        <mat-card-content>
        <form (ngSubmit)="auth.signIn(auth.authManuallyLogin.email, auth.authManuallyLogin.password)">
          <mat-form-field>
            <mat-icon matPrefix>email</mat-icon>
            <input matInput type="email" label="email" placeholder="email" [(ngModel)]="auth.authManuallyLogin.email" name="email">
          </mat-form-field>
          <mat-form-field>
            <mat-icon matPrefix>lock</mat-icon>
            <input matInput type="password" label="Password" placeholder="password" [(ngModel)]="auth.authManuallyLogin.password" name="password">
          </mat-form-field>
          <div>
          <button mat-button class="cover" type="submit" block>Log In</button>
          </div>
          <div class="error-displayer" *ngIf="errorSignIn">{{errorSignIn}}</div>
        </form>
          <div (click)="showResetPassword = !showResetPassword" class="forget-password">
            <h3>Forget Your password?</h3>
          </div>
          <div class="login methods">
            <div class="circle icon" (click)="auth.facebookLogin()"><i class="fab fa-facebook-f"></i></div>
            <div class="circle icon" (click)="auth.googleLogin()"><i class="fab fa-google"></i></div>
          </div>
          <div class="forget-password">
            <h3>Don’t Have an Account</h3>
          </div>
            <button mat-button (click)="showRegistration = !showRegistration" class="or-register cover">
              <span *ngIf="!showRegistration">Registration</span><span *ngIf="showRegistration">Log In</span>
            </button>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngIf="showResetPassword">
      <h2>Just type Your email below</h2>
      <mat-card class="login-cart">
        <mat-card-content>
          <form (ngSubmit)="auth.resetPassword(auth.authResetPassword.email)">
            <mat-form-field>
              <input matInput type="email" name="email" label="email" placeholder="email" [(ngModel)]="auth.authResetPassword.email">
            </mat-form-field>
            <button mat-button type="submit">Reset Password</button>
            <div class="forget-password"><h3 (click)="showResetPassword = !showResetPassword">Go back <i class="fas fa-sign-in-alt"></i></h3></div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-template>